<div>
  <h2>Dinner Menu</h2>
  <ul data-bind="foreach: items">
    <li>
      <strong data-bind="text: name"></strong>
      <span data-bind="text: price"></span>
      <button data-bind="click: $parent.addFavorite">add favorite</button>
    </li>
  </ul>
  <div data-bind="visible: favorites().length">
    <h2>My Favorite Dishes</h2>
    <ul data-bind="foreach: favorites">
      <li>
        <strong data-bind="text: name"></strong>
        <span data-bind="text: price"></span>
        <button data-bind="click: $parent.removeFavorite">remove</button>
      </li>
    </ul>
  </div>
</div>